<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string></string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Titles</key>
			<array>
				<string>MegaMedia (M&amp;E)</string>
				<string>SportsNetwork (M&amp;E)</string>
				<string>PowerCo (E&amp;U)</string>
				<string>BigRing (Telco)</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>Title</key>
			<string>Demo</string>
			<key>Key</key>
			<string>subIndustry</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Agent Phone Number</string>
			<key>Key</key>
			<string>agentPhone</string>
			<key>DefaultValue</key>
			<string>12223334444</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Your Phone Number</string>
			<key>Key</key>
			<string>yourPhone</string>
			<key>DefaultValue</key>
			<string>12223334444</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
</dict>
</plist>
